{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<h2>{{ view.title }}</h2>
<form method="post" style="padding-top: 100px;">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
    </div>
    <div>
        {{ form.content.label_tag }}
        {{ form.content }}
        {{ form.content.errors }}
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}